.news {
    height: 350px;
    margin: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: auto;
    max-width: 600px;
    height: auto;
    border-radius: 15px;
    border: 1px solid #a1a9a7;

}

.news_image {
    float: left;
    width: 200px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 25px;
}

.news_info {
    padding: 15px 30px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.MuiTypography-h3 {
    font-size: 3rem;
    font-family: "Galada", cursive !important;
}
.getMoreButton{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

#toTopBtn {
    display: inline-block;
    color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }

  #toTopBtn:hover {
    cursor: pointer;
  }

  #toTopBtn.show {
    opacity: 1;
    visibility: visible;
  }
  