.news {
    height: 350px;
    margin: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: auto;
    max-width: 600px;
    height: auto;
    border-radius: 15px;
    border: 1px solid #333336;
    display: flex;
    background-color: rgb(228, 228, 228);
    color: black;
}
body {
    background: linear-gradient(to bottom, #131313 0%, #252525 40%, #111111 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
    color: white;
}

#HomeBtn{
    color: white;
    font-size: 18px;
}

.Header{
    color: white;
    background: linear-gradient(to bottom, #383838 0%, #363636 40%, #2c2c2c 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
}

.Footer{
    background: linear-gradient(to bottom, #383838 0%, #363636 40%, #2c2c2c 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
    color: white;
}
.MuiTypography-colorTextSecondary{
    color: white !important;
}

.news_image {
    width: 200px;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    margin: 20px;
    border-radius: 5px;
}

.news_info {
    flex: 1;
    padding: 10px 25px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.MuiTypography-h3 {
    font-size: 3rem;
    font-family: "Galada", cursive !important;
}
.MuiTypography-h4{
    font-family: "Roboto" !important;
    text-transform: uppercase;
}
#getMoreButton{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 20px;
    color: white;
    background-color: rgb(66, 66, 66);
}

#SignInBtn{
    border: 0px;
    font-size: 22px;
    color: rgb(208,153,89);
}

#SignInBtn:hover{
    color: rgb(204, 166, 123);;
}

#toTopBtn {
    display: inline-block;
    background-color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }

  #toTopBtn:hover {
    cursor: pointer;
  }

  #toTopBtn.show {
    opacity: 1;
    visibility: visible;
  }
  
  